/* Globalny wygląd "paneli" */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Globalne tło w całej aplikacji */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("/src/assets/root.png");
  /* background-image: url("/src/assets/root_board.jpg"); */
  background-repeat: no-repeat;   /* było repeat */
  background-size: cover;         /* wypełnia cały ekran */
  background-position: center;    /* wyśrodkuj */
  background-attachment: fixed;   /* opcjonalnie: "nieruchome" przy scrollu */

  opacity: 0.90;
  pointer-events: none;
  z-index: -1;
}


/* a całą aplikację daj nad tłem */
#root {
  position: relative;
  z-index: 1;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button:hover .cards-shine {
  transform: translateX(120%);
}
